*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared styles */

:root {
    --gray: #808080;
    --lightGray: #ccc;
    --dark: rgb(0, 2, 24);
    --pink: #443800;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-family: 'Sansita Swashed', cursive;
    line-height: .8em;
    color: var(--dark);
}

.logo h1:last-child {
    padding-left: .6em;
    color: var(--pink);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

button,
a,
input,
textarea {
    font-family: inherit;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* components */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 80px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3em;
}

.main-nav {
    display: none;
}

main>section {
    padding-top: 90px;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero-text,
.hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.hero-bg {
    background: url(https://images.pexels.com/photos/4050304/pexels-photo-4050304.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1024);
    background-size: 100% 100%;
}

.hero-text {
    background-color: #918787b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1em;
    font-size: 3rem;
    color: var(--dark);
}

.highlight {
    color: var(--pink);
}

.cta {
    padding: 1em 2em;
    border-radius: 1px;
    display: block;
    margin-top: 2em;
    color: inherit;
    background-color: #fff;
    border: 1px solid #fff;
    transition: 300ms;
}

.cta:hover {
    background-color: #918787b7;
}

main h1 {
    font-family: 'QuickSand', serif;
    padding: 0 0 1em 1em;
    font-size: 2.2rem;
    color: var(--dark);
    position: relative;
    width: fit-content;
}

main h1::after {
    position: absolute;
    content: '';
    background: linear-gradient(to left, var(--pink), transparent);
    height: 2px;
    width: calc(100% - 1em);
    border-radius: 2px;
    bottom: 1em;
    right: 0;
}


/* services */

#services {
    /* height: 140vh; */
}

.services-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.service {
    min-height: 320px;
    width: 320px;
    border-radius: 4px;
    background-color: var(--lightGray);
    border: 1px solid var(--lightGray);
    cursor: pointer;
    overflow: hidden;
}

.service h2 {
    text-align: center;
    color: var(--pink);
    font-size: 1.3rem;
}

.service i {
    display: block;
    width: fit-content;
    margin: .5em auto;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--gray);
    color: var(--pink);
}

.service p {
    padding: 1em 2em;
    color: var(--dark);
    font-size: .94rem;
    font-family: 'QuickSand', serif;
    font-weight: 500;
    /* font-family: 'Open Sans', serif; */
}

.to-hire {
    padding: .8em 1.2em;
    margin: 0 0 1em 2em;
    background-color: var(--dark);
    border-radius: 3px;
    color: #fff;
    transform: translateY(100px);
    transition: 500ms ease-in-out;
}

.service:hover .to-hire {
    transform: translateY(0px);
}

.contacts {
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
}

form {
    padding: 1em 4em;
}

form label {
    display: block;
    padding: .5em 0;
    font-weight: bold;
    cursor: pointer;
}

.options label {
    display: inline;
    font-weight: normal;
    padding: 0 .5em;
}

#name,
#email {
    height: 30px;
}

#name,
#email,
#message {
    border: none;
    border-bottom: 1px solid var(--pink);
    width: 80%;
    outline: none;
    transition: 400ms;
}

#name:focus,
#email:focus,
#message:focus {
    border-bottom: 2px solid var(--dark);
}

input[type="radio"] {
    accent-color: var(--pink);
    cursor: pointer;
}

.submit {
    display: block;
    margin-top: 1em;
    padding: 1em 4em;
    background: transparent;
    color: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 400ms;
}

.submit::before,
.submit::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: var(--dark);
    z-index: -1;
    transition: 300ms;
}

.submit::before {
    left: 0;
}

.submit::after {
    right: 0;
}

.submit:hover::after {
    transform: translate(30px, -100%);
}

.submit:hover::before {
    transform: translate(-30px, 100%);
}

.submit:hover {
    background-color: var(--gray);
    color: var(--dark);
}

footer {
    background-color: var(--lightGray);
    padding: 2em 2em 1em 2em;
}

footer h3 {
    margin-bottom: .8em;
}

.upper-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 1em;
}


/* .upper-footer section {
    padding-left: 2em;
} */

.upper-footer ul,
.upper-footer ol {
    font-family: 'QuickSand', serif;
    font-weight: normal;
    font-size: .94rem;
    color: var(--dark);
    line-height: 1.4;
}

.upper-footer li:hover {
    text-decoration: underline;
}

.upper-footer ol {
    list-style-type: none;
    padding-left: 1em;
}

.upper-footer ol li {
    position: relative;
}

.upper-footer ol li::after {
    content: '';
    position: absolute;
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--pink);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: transform 400ms;
}

.upper-footer ol li:hover::after {
    transform: translateY(-50%) rotate(90deg);
}

#email-subscribe {
    height: 30px;
    width: 80%;
    padding-left: 1em;
    border: 1px solid var(--pink);
    border-radius: 3px;
    outline: none;
}

#submit-subscribe {
    display: block;
    margin-top: 1em;
    padding: 0.8em 4em;
    background-color: var(--pink);
    color: var(--lightGray);
    border-radius: 50px;
    transition: 300ms;
}

#submit-subscribe:hover {
    opacity: .93;
}

.lower-footer {
    border-top: 1px solid var(--dark);
    color: var(--pink);
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

address a {
    display: inline-block;
    margin: 0 3px;
}

@media(min-width:860px) {
    .hero-text {
        padding: 0 3em;
    }
}

@media(min-width:600px) {
    header {
        justify-content: space-around;
        padding-left: 0;
    }
    .main-nav {
        display: block;
    }
    .main-nav ul {
        display: flex;
    }
    .main-nav li {
        margin: 0 .6em;
        transform: translateY(0px);
        transition: 350ms;
        color: var(--dark);
    }
    li.slide {
        transform: translateY(-2px);
    }
    .main-nav li:hover {
        transform: translateY(1px);
        opacity: .9;
    }
}