*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared styles */

:root {
    --gray: #808080;
    --lightGray: #ccc;
    --fadeGray: #918787b7;
    --dark: #000218;
    --brown: #443800;
    --error: #c70505;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

button,
a,
input,
textarea {
    font-family: inherit;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading {
    position: relative;
    width: fit-content;
}

.sub-heading::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
}

.reveal::after {
    animation: reveal 500ms 200ms linear forwards;
}

@keyframes reveal {
    99% {
        right: 100%;
        background-color: #fff;
    }
    100% {
        right: 100%;
        left: -3px;
        background-color: var(--brown);
    }
}

.custom-list li {
    position: relative;
}

.custom-list li::after {
    content: '';
    position: absolute;
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--brown);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: transform 400ms;
}

body {
    overflow-y: hidden;
}


/* Loader */

.loader {
    height: 100vh;
    background-color: var(--gray);
    position: relative;
    z-index: 1000;
    overflow: hidden;
}

.loader.loaded {
    display: none;
}

body.loaded {
    overflow-y: scroll;
    overflow-x: hidden;
}

.loader div {
    height: 80px;
    width: 80px;
    position: relative;
    background-color: var(--gray);
    border-radius: 50%;
}

.loader div::after,
.loader div::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(to top left, transparent, transparent, var(--brown));
    animation: rotate 500ms 100ms infinite linear;
}

.loader div::before {
    animation: rotate 400ms infinite linear;
    background: linear-gradient(to top left, transparent, transparent, var(--dark));
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


/* components */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 80px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3em;
}

.logo img {
    height: 78px;
    margin-top: 2px;
    cursor: pointer;
}

.main-nav {
    display: none;
}

.hamb {
    background: var(--dark);
    width: 30px;
    height: 4px;
    position: absolute;
    right: 2em;
    bottom: 1em;
    cursor: pointer;
    display: block;
}

.hamb.hide {
    display: none;
}

.hamb::after,
.hamb::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
}

.hamb::after {
    top: -6px;
}

.hamb::before {
    bottom: -6px;
}

.small-nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding-left: 2em;
    background-color: var(--gray);
    transition: 400ms;
    z-index: -2;
    clip-path: polygon(100% 0, 100% 0, 0 0, 0 0);
}

.small-nav.show {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.small-nav li {
    padding: .5em 0;
    color: var(--dark);
    text-transform: uppercase;
}

.small-nav a {
    display: block;
}

nav li.active {
    position: relative;
}

nav li::after,
main h1::after {
    position: absolute;
    content: '';
    background: linear-gradient(to left, var(--brown), transparent);
    height: 2px;
    border-radius: 2px;
    right: 0;
}

nav li::after {
    transition: 300ms;
    transform: scaleX(0);
    bottom: 0%;
    width: 100%;
}

li.active::after {
    transform: scaleX(1);
}

.close-menu {
    color: var(--error);
    background: transparent;
    position: absolute;
    top: 0em;
    right: 2em;
    font-size: 1rem;
    z-index: 1;
}

main>section {
    padding-top: 90px;
}

.hero {
    position: relative;
    min-height: 120vh;
}

.hero-text,
.hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.hero-bg {
    background: url(https://images.pexels.com/photos/4050304/pexels-photo-4050304.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1024);
    background-size: 100% 100%;
}

.hero-text {
    background-color: var(--fadeGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1em;
    font-size: 3rem;
    color: var(--dark);
}

.hero-small {
    font-size: 2rem;
    font-family: 'QuickSand', serif;
}

.highlight {
    color: var(--brown);
}

.cta {
    font-size: .8rem;
    padding: 1em 2em;
    border-radius: 1px;
    display: block;
    margin-top: 2em;
    color: inherit;
    background-color: #fff;
    border: 1px solid #fff;
    transform: translateY(80px);
    transition: background 300ms;
    animation: cta 400ms 200ms linear forwards;
}

@keyframes cta {
    to {
        transform: translateY(0);
    }
}

.cta:hover {
    background-color: #918787b7;
}

main h1 {
    font-family: 'QuickSand', serif;
    padding: 0 0 1em 1em;
    font-size: 2.2rem;
    color: var(--dark);
    position: relative;
    width: fit-content;
}

main h1::after {
    width: calc(100% - 1em);
    bottom: 1em;
}


/* About */

.about {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
}

.block {
    margin-bottom: 2em;
}

.block p,
.block ul {
    padding-top: 1em;
}

.block ul {
    padding-left: 1em;
}

.block ul li {
    padding: 1em 0;
}

.block img {
    border-radius: 4px;
}

.block a {
    display: block;
    padding: 1em 0em;
    width: 150px;
    margin-top: 1.2em;
    text-align: center;
    background-color: var(--brown);
    color: #fff;
    border-radius: 3px;
    transition: 400ms ease-in-out;
}

.block a:hover {
    opacity: .95;
}

.block img {
    width: 100%;
    height: 300px;
    margin-top: 1em;
}


/* services */

.services-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.service {
    min-height: 320px;
    width: 320px;
    margin-bottom: 2em;
    border-radius: 4px;
    background-color: var(--lightGray);
    border: 1px solid var(--lightGray);
    transform: translateY(100px) rotateY(0deg);
    box-shadow: 0px 40px 10px var(--dark);
    opacity: 0;
    transition: 1s;
}

.service-animate {
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 0px .5px 2px var(--dark);
}

.service h2 {
    text-align: center;
    color: var(--brown);
    font-size: 1.3rem;
}

.service i {
    display: block;
    width: fit-content;
    margin: .5em auto;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--gray);
    color: var(--brown);
}

.service p {
    padding: 1em 2em;
    color: var(--dark);
    font-size: .94rem;
    font-family: 'QuickSand', serif;
    font-weight: 500;
}

.to-hire,
.to-blog {
    display: inline-block;
    font-size: .8rem;
    padding: .8em 1.2em;
    margin: 0 0 1em 2em;
    background-color: var(--dark);
    border-radius: 3px;
    color: #fff;
    transition: 300ms ease-in-out;
}

.to-hire:hover,
.to-blog:hover {
    color: var(--dark);
    background-color: var(--gray);
}

.blog {
    height: 400px;
    background-color: var(--fadeGray);
    background-image: url(https://images.pexels.com/photos/265152/pexels-photo-265152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100% 100%;
    background-blend-mode: darken;
    margin: 2em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.blog-title {
    background-color: var(--dark);
    color: #fff;
    padding: 1.5em 1em;
}

.to-blog {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.to-blog {
    transform: translateY(100px);
}

.blog:hover .to-blog {
    transform: translateY(0px);
}

.contacts {
    padding: 1em 4em;
}

.contacts>div {
    padding-top: 2em;
}

.contacts a {
    color: var(--brown);
}

form label {
    display: block;
    padding: .5em 0;
    font-weight: bold;
    cursor: pointer;
}

.options {
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.options label {
    display: inline;
    font-weight: normal;
    padding: 0 .5em;
}

.selected label {
    color: var(--brown);
}

#name,
#email {
    height: 30px;
}

#name,
#email,
#message {
    border: none;
    border-bottom: 1px solid var(--brown);
    width: 90%;
    outline: none;
    transition: border 200ms;
}

#name:focus,
#email:focus,
#message:focus {
    border-bottom: 2px solid var(--dark);
}

.error #name,
.error #email {
    border-bottom: 2px solid var(--error);
}

input[type="radio"] {
    accent-color: var(--brown);
    cursor: pointer;
}

.submit {
    display: block;
    margin-top: 1em;
    padding: 1em 4em;
    background: transparent;
    color: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 400ms;
}

.submit::before,
.submit::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: transform 300ms;
}

.submit::before {
    background-color: var(--dark);
    transform-origin: top;
}

.submit::after {
    background-color: var(--gray);
    transform: scaleY(0);
    transform-origin: bottom;
    transition-delay: 100ms;
}

.submit:hover::after {
    transform: scaleY(1);
}

.submit:hover::before {
    transform: scaleY(0);
    transition-timing-function: linear;
}

.submit:hover {
    color: var(--dark);
}

.invalid {
    color: var(--error);
    transform: translateY(-0.5em);
    font-size: .8rem;
    visibility: hidden;
}

.error .invalid {
    visibility: visible;
}

.contacts address {
    padding: 2em 0;
}

footer {
    background-color: var(--lightGray);
    padding: 2em 2em 1em 2em;
}

footer h3 {
    margin-bottom: .8em;
}

.upper-footer ul,
.upper-footer ol {
    font-family: 'QuickSand', serif;
    font-weight: normal;
    font-size: .94rem;
    color: var(--dark);
    line-height: 1.4;
}

.upper-footer li:hover {
    text-decoration: underline;
}

.upper-footer ol {
    list-style-type: none;
    padding-left: 1em;
}

.upper-footer ol li:hover::after {
    transform: translateY(-50%) rotate(90deg);
}

#email-subscribe {
    height: 30px;
    width: 60%;
    padding-left: 1em;
    border: 1px solid var(--brown);
    border-radius: 3px;
    outline: none;
}

#submit-subscribe {
    display: block;
    margin-top: 1em;
    padding: 0.8em 4em;
    background-color: var(--brown);
    color: var(--lightGray);
    border-radius: 50px;
    transition: 300ms;
}

#submit-subscribe:hover {
    opacity: .93;
}

.lower-footer {
    border-top: 1px solid var(--dark);
    color: var(--brown);
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

address a {
    display: inline-block;
    margin: 0 3px;
    transition: 300ms ease-in-out;
}

address a:hover {
    transform: scale(1.05);
}

@media(min-width:680px) {
    header {
        justify-content: space-around;
        padding-left: 0;
    }
    .small-nav,
    .hamb {
        display: none;
    }
    .main-nav {
        display: block;
    }
    .main-nav ul {
        display: flex;
    }
    .main-nav li {
        margin: 0 .6em;
        transform: translateY(0px);
        transition: 350ms;
        color: var(--dark);
    }
    li.slide {
        transform: translateY(-2px);
    }
    .main-nav li:hover {
        transform: translateY(1px);
        opacity: .9;
    }
    .hero {
        min-height: 100vh;
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:960px) {
    .hero-text {
        padding: 0 3em;
    }
    .block:last-child {
        display: flex;
        justify-content: space-around;
    }
    .block:last-child article {
        max-width: 400px;
    }
    .block:last-child img {
        width: calc(100vw - 600px);
        height: 350px;
    }
    .upper-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
}

@media(min-width:1024px) {
    .upper-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-gap: 1em;
    }
    .block {
        display: flex;
        justify-content: space-around;
    }
    .block:nth-child(odd) article {
        order: 2;
    }
    .block:first-child article {
        max-width: 500px;
    }
    .block:first-child img {
        width: calc(100vw - 700px);
        height: 450px;
    }
}